* text=auto !eol
/Blox.sln -text
/Blox.vssscc -text
Blox/Blox.csproj -text
Blox/Blox.csproj.user -text
Blox/Blox.csproj.vspscc -text
Blox/CheckForUpdates.Designer.cs -text
Blox/CheckForUpdates.cs -text
Blox/CheckForUpdates.resx -text
Blox/Config.cs -text
Blox/Config.xsd -text
Blox/Constants.cs -text
Blox/Enums.cs -text
Blox/Game.cs -text
Blox/GameActions/AddBlock.cs -text
Blox/GameActions/AddBlockItem.cs -text
Blox/GameActions/AddBlockMulti.cs -text
Blox/GameActions/AddCuboid.cs -text
Blox/GameActions/AddProjectile.cs -text
Blox/GameActions/AddStaticItem.cs -text
Blox/GameActions/AddStructure.cs -text
Blox/GameActions/ChatMsg.cs -text
Blox/GameActions/Connect.cs -text
Blox/GameActions/Disconnect.cs -text
Blox/GameActions/GameAction.cs -text
Blox/GameActions/GetWorld.cs -text
Blox/GameActions/NetworkClient.cs -text
Blox/GameActions/PickupBlockItem.cs -text
Blox/GameActions/PlayerInfo.cs -text
Blox/GameActions/PlayerMove.cs -text
Blox/GameActions/PlayerOption.cs -text
Blox/GameActions/RemoveBlock.cs -text
Blox/GameActions/RemoveBlockItem.cs -text
Blox/GameActions/RemoveBlockMulti.cs -text
Blox/GameActions/ServerCommand.cs -text
Blox/GameActions/ServerMsg.cs -text
Blox/GameActions/ServerSync.cs -text
Blox/GameActions/ThrowException.cs -text
Blox/GameObjects/GameItems/BlockItem.cs -text
Blox/GameObjects/GameItems/Clutter.cs -text
Blox/GameObjects/GameItems/GameItemDynamic.cs -text
Blox/GameObjects/GameItems/GameItemStatic.cs -text
Blox/GameObjects/GameItems/LightSource.cs -text
Blox/GameObjects/GameItems/Projectile.cs -text
Blox/GameObjects/GameObject.cs -text
Blox/GameObjects/GameObjects.cd -text
Blox/GameObjects/Units/Mob.cs -text
Blox/GameObjects/Units/Player.cs -text
Blox/GameObjects/Units/Unit.cs -text
Blox/Hosts/BlockCursorHost.cs -text
Blox/Hosts/IHost.cs -text
Blox/Hosts/Input/InputHost.cs -text
Blox/Hosts/Input/Movement.cs -text
Blox/Hosts/Input/SlashCommands.cs -text
Blox/Hosts/PerformanceHost.cs -text
Blox/Hosts/Ui/Button.cs -text
Blox/Hosts/Ui/Buttons.cs -text
Blox/Hosts/Ui/ChatMessage.cs -text
Blox/Hosts/Ui/UiHost.cs -text
Blox/Hosts/World/Block.cs -text
Blox/Hosts/World/Blocks.cs -text
Blox/Hosts/World/Chunk.cs -text
Blox/Hosts/World/ChunkCoords.cs -text
Blox/Hosts/World/Chunks.cs -text
Blox/Hosts/World/Coords.cs -text
Blox/Hosts/World/Generator/ClutterGenerator.cs -text
Blox/Hosts/World/Generator/Generator.cs -text
Blox/Hosts/World/Generator/PerlinNoise.cs -text
Blox/Hosts/World/Generator/TreeGenerator.cs -text
Blox/Hosts/World/Lighting.cs -text
Blox/Hosts/World/Position.cs -text
Blox/Hosts/World/Render/BlockRender.cs -text
Blox/Hosts/World/Render/ChunkVbo.cs -text
Blox/Hosts/World/Render/ColorRgb.cs -text
Blox/Hosts/World/Render/TexCoordsShort.cs -text
Blox/Hosts/World/SkyHost.cs -text
Blox/Hosts/World/WorldData.cs -text
Blox/Hosts/World/WorldHost.cs -text
Blox/Hosts/World/WorldSettings.cs -text
Blox/Images/Globe1.ico -text
Blox/Images/GreenCheck.png -text
Blox/Images/GreenFlag.png -text
Blox/Images/LauncherBackground2.jpg -text
Blox/Images/Progress.gif -text
Blox/Images/vgicon.ico -text
Blox/Launcher.Designer.cs -text
Blox/Launcher.cs -text
Blox/Launcher.resx -text
Blox/OpenAL32.dll -text
Blox/Program.cs -text
Blox/Properties/AssemblyInfo.cs -text
Blox/Properties/Resources.Designer.cs -text
Blox/Properties/Resources.resx -text
Blox/Properties/Settings.Designer.cs -text
Blox/Properties/Settings.settings -text
Blox/Server/Controller.cs -text
Blox/Server/NetworkPlayer.cs -text
Blox/Server/ServerConsole.Designer.cs -text
Blox/Server/ServerConsole.cs -text
Blox/Server/ServerConsole.resx -text
Blox/Server/StructureBuilder.cs -text
Blox/Server/UPnP.cs -text
Blox/Settings.cs -text
Blox/Sounds/Audio.cs -text
Blox/Sounds/Music.cs -text
Blox/Sounds/Resources/AddBlock.wav -text
Blox/Sounds/Resources/ItemPickup.wav -text
Blox/Sounds/Resources/JumpOutOfWater.wav -text
Blox/Sounds/Resources/Message.wav -text
Blox/Sounds/Resources/PlayerConnect.wav -text
Blox/Sounds/Resources/PlayerLanding.wav -text
Blox/Sounds/Resources/RemoveBlock.wav -text
Blox/Sounds/Resources/SoundFiles.Designer.cs -text
Blox/Sounds/Resources/SoundFiles.resx -text
Blox/Sounds/Resources/Splash.wav -text
Blox/Sounds/Resources/TimeToDreamMono.wav -text
Blox/Sounds/Resources/WaterBubbles.wav -text
Blox/Textures/Blocks64/Bricks.png -text
Blox/Textures/Blocks64/Coal.png -text
Blox/Textures/Blocks64/Cobble.png -text
Blox/Textures/Blocks64/Copper.png -text
Blox/Textures/Blocks64/Crate.png -text
Blox/Textures/Blocks64/CrateSide.png -text
Blox/Textures/Blocks64/Dirt.png -text
Blox/Textures/Blocks64/ElmTree.png -text
Blox/Textures/Blocks64/FancyBlack.png -text
Blox/Textures/Blocks64/FancyGreen.png -text
Blox/Textures/Blocks64/FancyRed.png -text
Blox/Textures/Blocks64/FancyWhite.png -text
Blox/Textures/Blocks64/Gold.png -text
Blox/Textures/Blocks64/Grass.png -text
Blox/Textures/Blocks64/GrassSide.png -text
Blox/Textures/Blocks64/Gravel.png -text
Blox/Textures/Blocks64/Ice.png -text
Blox/Textures/Blocks64/Iron.png -text
Blox/Textures/Blocks64/Lava.png -text
Blox/Textures/Blocks64/LavaRock.png -text
Blox/Textures/Blocks64/Leaves.png -text
Blox/Textures/Blocks64/Oil.png -text
Blox/Textures/Blocks64/PrisonBars.png -text
Blox/Textures/Blocks64/Rock.png -text
Blox/Textures/Blocks64/Sand.png -text
Blox/Textures/Blocks64/SandDark.png -text
Blox/Textures/Blocks64/Shelf1.png -text
Blox/Textures/Blocks64/Snow.png -text
Blox/Textures/Blocks64/SnowLeaves.png -text
Blox/Textures/Blocks64/SnowSide.png -text
Blox/Textures/Blocks64/Speaker.png -text
Blox/Textures/Blocks64/SteelDoorBottom.png -text
Blox/Textures/Blocks64/SteelDoorTop.png -text
Blox/Textures/Blocks64/SteelPlate.png -text
Blox/Textures/Blocks64/SteelPlate2.png -text
Blox/Textures/Blocks64/Tree.png -text
Blox/Textures/Blocks64/TreeTrunk.png -text
Blox/Textures/Blocks64/Water.png -text
Blox/Textures/Blocks64/Water2.png -text
Blox/Textures/Blocks64/Water3.png -text
Blox/Textures/Blocks64/Water4.png -text
Blox/Textures/Blocks64/WoodTile1.png -text
Blox/Textures/Blocks64/WoodTile2.png -text
Blox/Textures/Clutter64/Bush.png -text
Blox/Textures/Clutter64/Grass1.png -text
Blox/Textures/Clutter64/Grass2.png -text
Blox/Textures/Clutter64/Grass3.png -text
Blox/Textures/Clutter64/Grass4.png -text
Blox/Textures/Clutter64/Grass5.png -text
Blox/Textures/Clutter64/Grass6.png -text
Blox/Textures/Clutter64/Grass7.png -text
Blox/Textures/Clutter64/Grass8.png -text
Blox/Textures/Environment/Moon.png -text
Blox/Textures/Environment/Sun.png -text
Blox/Textures/Item/Lantern.png -text
Blox/Textures/Resources/BlockTextures64.Designer.cs -text
Blox/Textures/Resources/BlockTextures64.resx -text
Blox/Textures/Resources/ClutterTextures64.Designer.cs -text
Blox/Textures/Resources/ClutterTextures64.resx -text
Blox/Textures/Resources/EnvironmentTextures.Designer.cs -text
Blox/Textures/Resources/EnvironmentTextures.resx -text
Blox/Textures/Resources/ItemTextures.Designer.cs -text
Blox/Textures/Resources/ItemTextures.resx -text
Blox/Textures/Resources/UiTextures.Designer.cs -text
Blox/Textures/Resources/UiTextures.resx -text
Blox/Textures/Resources/UnitTextures.Designer.cs -text
Blox/Textures/Resources/UnitTextures.resx -text
Blox/Textures/TextureLoader.cs -text
Blox/Textures/Ui/Axe.png -text
Blox/Textures/Ui/BlockCursor.png -text
Blox/Textures/Ui/CompassArrow.png -text
Blox/Textures/Ui/CrossHairs.png -text
Blox/Textures/Ui/LargeKeep.png -text
Blox/Textures/Ui/PickAxe.png -text
Blox/Textures/Ui/Shovel.png -text
Blox/Textures/Ui/SmallKeep.png -text
Blox/Textures/Ui/ToolCuboid.png -text
Blox/Textures/Ui/ToolDefault.png -text
Blox/Textures/Ui/ToolFastBuild.png -text
Blox/Textures/Ui/ToolFastDestroy.png -text
Blox/Textures/Ui/ToolTree.png -text
Blox/Textures/Ui/Tower.png -text
Blox/Utilities/Diagnostics.cs -text
Blox/Utilities/DisplayList.cs -text
Blox/Utilities/Exceptions.cs -text
Blox/Utilities/GlHelper.cs -text
Blox/Utilities/Misc.cs -text
Blox/wrap_oal.dll -text
Patcher/Patcher.csproj -text
Patcher/Patcher.csproj.vspscc -text
Patcher/Program.cs -text
Patcher/Properties/AssemblyInfo.cs -text
Patcher/Properties/Resources.Designer.cs -text
Patcher/Properties/Resources.resx -text
Patcher/Resources/GreenCheck.png -text
Patcher/Resources/GreenFlag.ico -text
Patcher/Resources/Progress.gif -text
Patcher/Update.Designer.cs -text
Patcher/Update.cs -text
Patcher/Update.resx -text
SolutionItems/Assemblies/OpenTK.dll -text
